*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-10 {
  top: -2.5rem;
}

.bottom-\[1px\] {
  bottom: 1px;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.top-0 {
  top: 0px;
}

.top-\[-19px\] {
  top: -19px;
}

.top-\[200px\] {
  top: 200px;
}

.top-\[270px\] {
  top: 270px;
}

.-top-4 {
  top: -1rem;
}

.row-\[25px\] {
  grid-row: 25px;
}

.float-left {
  float: left;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[120px\] {
  margin-bottom: 120px;
}

.mb-\[12px\] {
  margin-bottom: 12px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[39px\] {
  margin-bottom: 39px;
}

.mb-\[3px\] {
  margin-bottom: 3px;
}

.mb-\[7px\] {
  margin-bottom: 7px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.ml-\[116px\] {
  margin-left: 116px;
}

.ml-\[140px\] {
  margin-left: 140px;
}

.ml-\[15px\] {
  margin-left: 15px;
}

.ml-\[165px\] {
  margin-left: 165px;
}

.ml-\[1px\] {
  margin-left: 1px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[2px\] {
  margin-left: 2px;
}

.ml-\[40px\] {
  margin-left: 40px;
}

.ml-\[45px\] {
  margin-left: 45px;
}

.ml-\[5px\] {
  margin-left: 5px;
}

.ml-\[70px\] {
  margin-left: 70px;
}

.ml-\[79px\] {
  margin-left: 79px;
}

.ml-\[80px\] {
  margin-left: 80px;
}

.ml-\[87px\] {
  margin-left: 87px;
}

.mr-\[12px\] {
  margin-right: 12px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[-10px\] {
  margin-top: -10px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[12px\] {
  margin-top: 12px;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[22px\] {
  margin-top: 22px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[2px\] {
  margin-top: 2px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[34px\] {
  margin-top: 34px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[4px\] {
  margin-top: 4px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-\[\] {
  margin-top: ;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-16 {
  height: 4rem;
}

.h-36 {
  height: 9rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[145px\] {
  height: 145px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[172px\] {
  height: 172px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[215px\] {
  height: 215px;
}

.h-\[247px\] {
  height: 247px;
}

.h-\[251px\] {
  height: 251px;
}

.h-\[255px\] {
  height: 255px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[365px\] {
  height: 365px;
}

.h-\[37px\] {
  height: 37px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[417px\] {
  height: 417px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[460px\] {
  height: 460px;
}

.h-\[489px\] {
  height: 489px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[49px\] {
  height: 49px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[520px\] {
  height: 520px;
}

.h-\[524px\] {
  height: 524px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[642px\] {
  height: 642px;
}

.h-\[67px\] {
  height: 67px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[78px\] {
  height: 78px;
}

.h-\[83px\] {
  height: 83px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-8 {
  height: 2rem;
}

.h-20 {
  height: 5rem;
}

.h-12 {
  height: 3rem;
}

.min-h-\[451px\] {
  min-height: 451px;
}

.min-h-\[497px\] {
  min-height: 497px;
}

.min-h-\[737px\] {
  min-height: 737px;
}

.min-h-\[500px\] {
  min-height: 500px;
}

.min-h-\[145px\] {
  min-height: 145px;
}

.min-h-\[150px\] {
  min-height: 150px;
}

.min-h-\[489px\] {
  min-height: 489px;
}

.min-h-\[320px\] {
  min-height: 320px;
}

.min-h-\[642px\] {
  min-height: 642px;
}

.w-16 {
  width: 4rem;
}

.w-36 {
  width: 9rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[1026px\] {
  width: 1026px;
}

.w-\[1178px\] {
  width: 1178px;
}

.w-\[1182px\] {
  width: 1182px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[144px\] {
  width: 144px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[157px\] {
  width: 157px;
}

.w-\[172px\] {
  width: 172px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[194px\] {
  width: 194px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[212px\] {
  width: 212px;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[245px\] {
  width: 245px;
}

.w-\[255px\] {
  width: 255px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[542px\] {
  width: 542px;
}

.w-\[586px\] {
  width: 586px;
}

.w-\[78px\] {
  width: 78px;
}

.w-\[825px\] {
  width: 825px;
}

.w-\[867px\] {
  width: 867px;
}

.w-\[975px\] {
  width: 975px;
}

.w-full {
  width: 100%;
}

.w-\[calc\(50\%-0\.5rem\)\] {
  width: calc(50% - 0.5rem);
}

.w-8 {
  width: 2rem;
}

.w-\[\] {
  width: ;
}

.w-20 {
  width: 5rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-\[1178px\] {
  max-width: 1178px;
}

.max-w-\[975px\] {
  max-width: 975px;
}

.max-w-\[1026px\] {
  max-width: 1026px;
}

.max-w-\[1000px\] {
  max-width: 1000px;
}

.max-w-\[825px\] {
  max-width: 825px;
}

.flex-none {
  flex: none;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[47px\] {
  gap: 47px;
}

.gap-\[70px\] {
  gap: 70px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-x-\[60px\] {
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.text-wrap {
  text-wrap: wrap;
}

.rounded-\[3px\] {
  border-radius: 3px;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-\[4px\] {
  border-width: 4px;
}

.border-4 {
  border-width: 4px;
}

.border-b-\[2px\] {
  border-bottom-width: 2px;
}

.border-r-\[2px\] {
  border-right-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-none {
  border-style: none;
}

.border-\[\#668f18\] {
  --tw-border-opacity: 1;
  border-color: rgb(102 143 24 / var(--tw-border-opacity));
}

.border-\[\#9dd642\] {
  --tw-border-opacity: 1;
  border-color: rgb(157 214 66 / var(--tw-border-opacity));
}

.border-\[\#\] {
  border-color: #;
}

.border-\[\#c6cddf\] {
  --tw-border-opacity: 1;
  border-color: rgb(198 205 223 / var(--tw-border-opacity));
}

.border-\[\#d1d2d4\] {
  --tw-border-opacity: 1;
  border-color: rgb(209 210 212 / var(--tw-border-opacity));
}

.border-\[\#d2d3d5\] {
  --tw-border-opacity: 1;
  border-color: rgb(210 211 213 / var(--tw-border-opacity));
}

.border-\[\#dd8604\] {
  --tw-border-opacity: 1;
  border-color: rgb(221 134 4 / var(--tw-border-opacity));
}

.border-\[\#ed7c76\] {
  --tw-border-opacity: 1;
  border-color: rgb(237 124 118 / var(--tw-border-opacity));
}

.border-\[\#fe841e\] {
  --tw-border-opacity: 1;
  border-color: rgb(254 132 30 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.bg-\[\#212121\] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 33 33 / var(--tw-bg-opacity));
}

.bg-\[\#303030\] {
  --tw-bg-opacity: 1;
  background-color: rgb(48 48 48 / var(--tw-bg-opacity));
}

.bg-\[\#5e5e5e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(94 94 94 / var(--tw-bg-opacity));
}

.bg-\[\#678e19\] {
  --tw-bg-opacity: 1;
  background-color: rgb(103 142 25 / var(--tw-bg-opacity));
}

.bg-\[\#838383\] {
  --tw-bg-opacity: 1;
  background-color: rgb(131 131 131 / var(--tw-bg-opacity));
}

.bg-\[\#8ec63f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(142 198 63 / var(--tw-bg-opacity));
}

.bg-\[\#9b9494\] {
  --tw-bg-opacity: 1;
  background-color: rgb(155 148 148 / var(--tw-bg-opacity));
}

.bg-\[\#a2d84c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(162 216 76 / var(--tw-bg-opacity));
}

.bg-\[\#a3a3a3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(163 163 163 / var(--tw-bg-opacity));
}

.bg-\[\#d1d2d4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(209 210 212 / var(--tw-bg-opacity));
}

.bg-\[\#d2d3d5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(210 211 213 / var(--tw-bg-opacity));
}

.bg-\[\#f1f3f2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 243 242 / var(--tw-bg-opacity));
}

.bg-\[\#f2f2f2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.bg-\[\#fdb808\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 184 8 / var(--tw-bg-opacity));
}

.bg-\[\#febd19\] {
  --tw-bg-opacity: 1;
  background-color: rgb(254 189 25 / var(--tw-bg-opacity));
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[white\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl-\[12px\] {
  padding-left: 12px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[54px\] {
  padding-top: 54px;
}

.pt-\[25px\] {
  padding-top: 25px;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[34px\] {
  font-size: 34px;
}

.text-\[46px\] {
  font-size: 46px;
}

.text-\[47px\] {
  font-size: 47px;
}

.text-\[48px\] {
  font-size: 48px;
}

.text-\[67px\] {
  font-size: 67px;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[1px\] {
  font-size: 1px;
}

.text-\[37px\] {
  font-size: 37px;
}

.text-\[35px\] {
  font-size: 35px;
}

.font-\[600\] {
  font-weight: 600;
}

.font-\[700\] {
  font-weight: 700;
}

.font-\[800\] {
  font-weight: 800;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-\[15px\] {
  line-height: 15px;
}

.leading-\[16px\] {
  line-height: 16px;
}

.leading-\[8px\] {
  line-height: 8px;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.text-\[\#1a1515\] {
  --tw-text-opacity: 1;
  color: rgb(26 21 21 / var(--tw-text-opacity));
}

.text-\[\#212121\] {
  --tw-text-opacity: 1;
  color: rgb(33 33 33 / var(--tw-text-opacity));
}

.text-\[\#668e18\] {
  --tw-text-opacity: 1;
  color: rgb(102 142 24 / var(--tw-text-opacity));
}

.text-\[\#668f18\] {
  --tw-text-opacity: 1;
  color: rgb(102 143 24 / var(--tw-text-opacity));
}

.text-\[\#678e19\] {
  --tw-text-opacity: 1;
  color: rgb(103 142 25 / var(--tw-text-opacity));
}

.text-\[\#9ccc5b\] {
  --tw-text-opacity: 1;
  color: rgb(156 204 91 / var(--tw-text-opacity));
}

.text-\[\#b8bfcc\] {
  --tw-text-opacity: 1;
  color: rgb(184 191 204 / var(--tw-text-opacity));
}

.text-\[\#ccbeb8\] {
  --tw-text-opacity: 1;
  color: rgb(204 190 184 / var(--tw-text-opacity));
}

.text-\[\#ef4136\] {
  --tw-text-opacity: 1;
  color: rgb(239 65 54 / var(--tw-text-opacity));
}

.text-\[\#fe841e\] {
  --tw-text-opacity: 1;
  color: rgb(254 132 30 / var(--tw-text-opacity));
}

.text-\[black\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[px\] {
  color: px;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:bg-\[\#9af061\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(154 240 97 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#ef4136\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 65 54 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#fe831d\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 131 29 / var(--tw-bg-opacity));
}

.hover\:text-\[\#668e18\]:hover {
  --tw-text-opacity: 1;
  color: rgb(102 142 24 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .sm\:ml-\[81px\] {
    margin-left: 81px;
  }

  .sm\:ml-\[84px\] {
    margin-left: 84px;
  }

  .sm\:mr-\[10px\] {
    margin-right: 10px;
  }

  .sm\:mr-\[20px\] {
    margin-right: 20px;
  }

  .sm\:mt-\[10px\] {
    margin-top: 10px;
  }

  .sm\:mt-\[20px\] {
    margin-top: 20px;
  }

  .sm\:mt-\[22px\] {
    margin-top: 22px;
  }

  .sm\:mt-\[24px\] {
    margin-top: 24px;
  }

  .sm\:mt-\[64px\] {
    margin-top: 64px;
  }

  .sm\:mb-\[39px\] {
    margin-bottom: 39px;
  }

  .sm\:mt-\[15px\] {
    margin-top: 15px;
  }

  .sm\:mt-\[60px\] {
    margin-top: 60px;
  }

  .sm\:mt-\[25px\] {
    margin-top: 25px;
  }

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:mr-\[12px\] {
    margin-right: 12px;
  }

  .sm\:mt-\[40px\] {
    margin-top: 40px;
  }

  .sm\:ml-\[10px\] {
    margin-left: 10px;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-\[4px\] {
    margin-top: 4px;
  }

  .sm\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .sm\:ml-2 {
    margin-left: 0.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:inline-block {
    display: inline-block;
  }

  .sm\:inline {
    display: inline;
  }

  .sm\:h-\[20px\] {
    height: 20px;
  }

  .sm\:h-\[243px\] {
    height: 243px;
  }

  .sm\:h-\[145px\] {
    height: 145px;
  }

  .sm\:h-\[35px\] {
    height: 35px;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:h-\[100px\] {
    height: 100px;
  }

  .sm\:h-\[48px\] {
    height: 48px;
  }

  .sm\:h-\[49px\] {
    height: 49px;
  }

  .sm\:w-\[280px\] {
    width: 280px;
  }

  .sm\:w-\[518px\] {
    width: 518px;
  }

  .sm\:w-\[calc\(33\.333\%-1rem\)\] {
    width: calc(33.333% - 1rem);
  }

  .sm\:w-\[144px\] {
    width: 144px;
  }

  .sm\:w-\[157px\] {
    width: 157px;
  }

  .sm\:w-\[35px\] {
    width: 35px;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:w-\[100px\] {
    width: 100px;
  }

  .sm\:w-\[190px\] {
    width: 190px;
  }

  .sm\:w-\[194px\] {
    width: 194px;
  }

  .sm\:w-\[245px\] {
    width: 245px;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:gap-4 {
    gap: 1rem;
  }

  .sm\:gap-\[22px\] {
    gap: 22px;
  }

  .sm\:gap-\[47px\] {
    gap: 47px;
  }

  .sm\:gap-\[70px\] {
    gap: 70px;
  }

  .sm\:gap-\[24px\] {
    gap: 24px;
  }

  .sm\:gap-x-\[10px\] {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .sm\:gap-x-\[20px\] {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .sm\:bg-\[\#303030\] {
    --tw-bg-opacity: 1;
    background-color: rgb(48 48 48 / var(--tw-bg-opacity));
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sm\:pl-\[29px\] {
    padding-left: 29px;
  }

  .sm\:pt-\[20px\] {
    padding-top: 20px;
  }

  .sm\:pl-\[12px\] {
    padding-left: 12px;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-\[10px\] {
    font-size: 10px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }

  .sm\:text-\[50px\] {
    font-size: 50px;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-\[17px\] {
    font-size: 17px;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[48px\] {
    font-size: 48px;
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:font-bold {
    font-weight: 700;
  }

  .sm\:leading-\[15px\] {
    line-height: 15px;
  }

  .sm\:leading-\[16px\] {
    line-height: 16px;
  }

  .sm\:text-\[\] {
    color: ;
  }

  .sm\:text-\[14\] {
    color: 14;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:top-\[270px\] {
    top: 270px;
  }

  .md\:top-\[340px\] {
    top: 340px;
  }

  .md\:bottom-\[1px\] {
    bottom: 1px;
  }

  .md\:ml-\[20px\] {
    margin-left: 20px;
  }

  .md\:ml-\[140px\] {
    margin-left: 140px;
  }

  .md\:mr-0 {
    margin-right: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:h-\[139px\] {
    height: 139px;
  }

  .md\:h-\[520px\] {
    height: 520px;
  }

  .md\:h-\[100\%\] {
    height: 100%;
  }

  .md\:h-\[145px\] {
    height: 145px;
  }

  .md\:h-\[150px\] {
    height: 150px;
  }

  .md\:w-\[250px\] {
    width: 250px;
  }

  .md\:w-\[30px\] {
    width: 30px;
  }

  .md\:w-\[calc\(25\%-1rem\)\] {
    width: calc(25% - 1rem);
  }

  .md\:w-\[400px\] {
    width: 400px;
  }

  .md\:w-\[586px\] {
    width: 586px;
  }

  .md\:w-\[486px\] {
    width: 486px;
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-\[5px\] {
    gap: 5px;
  }

  .md\:gap-x-\[20px\] {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .md\:border-r-\[2px\] {
    border-right-width: 2px;
  }

  .md\:p-0 {
    padding: 0px;
  }

  .md\:px-\[23px\] {
    padding-left: 23px;
    padding-right: 23px;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:pr-4 {
    padding-right: 1rem;
  }

  .md\:text-\[13px\] {
    font-size: 13px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[35px\] {
    font-size: 35px;
  }

  .md\:text-\[44px\] {
    font-size: 44px;
  }

  .md\:text-\[46px\] {
    font-size: 46px;
  }

  .md\:text-\[47px\] {
    font-size: 47px;
  }

  .md\:leading-\[15px\] {
    line-height: 15px;
  }
}

@media (min-width: 1024px) {
  @media (min-width: 768px) {
    .lg\:md\:w-\[486px\] {
      width: 486px;
    }
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:ml-\[116px\] {
    margin-left: 116px;
  }

  .lg\:ml-\[45px\] {
    margin-left: 45px;
  }

  .lg\:ml-\[79px\] {
    margin-left: 79px;
  }

  .lg\:ml-\[87px\] {
    margin-left: 87px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-\[70px\] {
    margin-top: 70px;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:h-20 {
    height: 5rem;
  }

  .lg\:h-44 {
    height: 11rem;
  }

  .lg\:h-\[52px\] {
    height: 52px;
  }

  .lg\:h-\[251px\] {
    height: 251px;
  }

  .lg\:h-\[300px\] {
    height: 300px;
  }

  .lg\:h-\[365px\] {
    height: 365px;
  }

  .lg\:w-20 {
    width: 5rem;
  }

  .lg\:w-44 {
    width: 11rem;
  }

  .lg\:w-\[450px\] {
    width: 450px;
  }

  .lg\:w-\[calc\(20\%-1rem\)\] {
    width: calc(20% - 1rem);
  }

  .lg\:w-\[5\] {
    width: 5;
  }

  .lg\:w-\[586\] {
    width: 586;
  }

  .lg\:w-\[212px\] {
    width: 212px;
  }

  .lg\:w-\[240px\] {
    width: 240px;
  }

  .lg\:w-\[255px\] {
    width: 255px;
  }

  .lg\:grid-flow-row {
    grid-auto-flow: row;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .lg\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:gap-0 {
    gap: 0px;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-x-\[22px\] {
    -moz-column-gap: 22px;
         column-gap: 22px;
  }

  .lg\:border-r-\[2px\] {
    border-right-width: 2px;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[17px\] {
    font-size: 17px;
  }

  .lg\:text-\[50px\] {
    font-size: 50px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-\[67px\] {
    font-size: 67px;
  }

  .lg\:text-\[48px\] {
    font-size: 48px;
  }

  .lg\:text-\[26px\] {
    font-size: 26px;
  }
}

@media (min-width: 1280px) {
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}


